* {
    box-sizing: border-box;
  }

  header {
    padding: 1rem 2rem;
  }
  
  body {
    vertical-align: baseline;
    margin: 0;
    font-family: Helvetica;
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .computer-tabe-sec {
    padding: 2rem 2rem;

  }

  .comp-table-container {
    margin: 0 auto;
    max-width: 500px;
    display: grid;
    background-color: red;
    border-radius: 30px;
  }

  #dealers-cards {
    padding: 10px;
    font-weight: 1000;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 400px 0 375px;
    border-radius: 30px;
    background-color: lightpink;
  }

  #dealers-cards img {
    height: 100px;
    width: 100px;
    border: 5px solid white;
  }

  .c-table-area {
    color: white;
  }

  #message-box {
    margin: 30px auto;
    padding: 3rem 1rem;
    font-size: 30px;
    background-color: green;
    color: white;
    max-width: 300px;
    display: grid;
  }
  

  .player-table-sec {
    padding: 1rem 1rem;
  }

  .player-table-container {
    margin: 0 auto 20px;
    max-width: 500px;
    display: grid;
    background-color: blue;
    border-radius: 30px
  }

  .p-table-area {
    color: white;
  }

  #p-card-title{
    margin-top: -10px;
  }

  #player-cards {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    padding: 10px;
    margin: 0 20em 20px 20em;
    border-radius: 30px;
    background-color: lightblue;
  }

  .button-container {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding-top: -50px;
    padding-bottom: 80px;
  }

  #start-btn, #hit-btn, #stay-btn{
    font-size: 30px;
  }

  .card {
    margin: 5px 5px 5px 5px;
  }

  
  
  